{% extends  "layout.html" %}
    
{% block content %}

<head>
    <title>Login Error</title>
</head>

<div class="row" id="login_error_page">
    <div class="col-md-12">
        <h3>Login Error</h3>
        <hr>
        <div class="row">
            <p> The given information is not in our database. Please try again. </p>
            <div class="row">
                <div class="col-md-12" id="index_buttons">
                    <a href="/login"><button class="btn btn-primary">Back to Login Page</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}