{% extends "layout.html" %}

{% block content %}

<head>
    <title>Search Bar</title>
    <!-- Add any CSS or external stylesheets you want to use for the visual appeal -->
</head>
<body>
    <h1>Search Bar</h1>

    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Search for books">
        <input type="submit" value="Search">
    </form>

    {% if products %}
        <h2>Search Results</h2>
        <ul>
            {% for product in products %}
                <li>{{ product.item_name}} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
{% endblock %}