{% extends "layout.html" %}

{% block content %}

<head>
    <title>Search Bar</title>
</head>

<div class="row" id="info_row">
    <div class="col-md-6">
        <h3 class = "h3-headings">Search Bar</h3>

        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search for products">
            <button type="submit" class="btn btn-primary" id="search_button">Search</button>
        </form>
    </div>
</div>

    <div class="search-results"
        {% if query %}
            <h2>Search Results for "{{ query }}</h2>
        {% endif %}    
        <ul>
            {% for product in products %}
                <li>{{ product.item_name}} </li>
            {% endfor %}
        </ul>
    </div>    
    


{% endblock %}